#list {
 width: 100%;
}

#list li {
  padding: 5px 20px 5px 0;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #9f9f9f;
}

#list li:hover {
  border-color: #616161;
}

#list li:not(.list_empty) {
  cursor: pointer;
}

#list li.list_empty {
  border: none;
}

.todo_item {
  display: block;
  box-sizing: border-box;
}

.todo_remove {
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.todo_remove:hover {
  font-size: 15px;
  color: #ff4d4d;
}

.done {
  text-decoration: line-through;
  font-style: italic;
}