#visibilityFilter a {
  text-decoration: none;
  color: gray;
  font-size: 16px;
}

#visibilityFilter a.active {
  color: black;
  cursor: default;
  pointer-events: none;
  font-weight: bold;
}

#visibilityFilter a:not(:last-child):after {
  content: ' | ';
  font-weight: bolder;
  color: black;
}