body {
  background: #dddddd;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

* {
  outline: none;
}

.none {
  display: none;
}

#app {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #000;
}

#root {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#root > *:not(:last-child) {
  margin-bottom: 15px;
}

#root > * {
  width: 100%;
  max-width: 400px;
}